/**BUTTON**/
.apcButton {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 0;
  max-width: 100%;
  outline: none;
  transition-duration: 0.3s;
  transition-property: all; }

.apcButtonBlock {
  display: block;
  width: 100%; }

.apcButtonDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcButtonRounded {
  border-radius: 3px; }

.apcButtonRoundedMax {
  border-radius: 20px; }

.apcButtonXsmall {
  font-size: 12px;
  height: 22px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.apcButtonIconXsmall {
  font-size: 12px; }

.apcButtonSmall {
  font-size: 12px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.apcButtonIconSmall {
  font-size: 12px; }

.apcButtonMedium {
  font-size: 14px;
  height: 34px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; }

.apcButtonIconMedium {
  font-size: 14px; }

.apcButtonLarge {
  font-size: 18px;
  height: 46px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px; }

.apcButtonIconLarge {
  font-size: 18px; }

.apcButtonXlarge {
  font-size: 22px;
  height: 56px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px; }

.apcButtonIconXlarge {
  font-size: 22px; }

.apcButtonPrimary {
  background-color: #00796b;
  border-color: #006054;
  color: #ffffff; }
  .apcButtonPrimary:hover {
    background-color: #00463e;
    border-color: #002d27;
    color: #ffffff; }

.apcButtonIconPrimary {
  color: #ffffff; }

.apcButtonPrimary:hover .apcButtonIconPrimary {
  color: #ffffff; }

.apcButtonPrimaryLight {
  background-color: #48a999;
  border-color: #409789;
  color: #ffffff; }
  .apcButtonPrimaryLight:hover {
    background-color: #398579;
    border-color: #317368;
    color: #ffffff; }

.apcButtonIconPrimaryLight {
  color: #ffffff; }

.apcButtonPrimaryLight:hover .apcButtonIconPrimaryLight {
  color: #ffffff; }

.apcButtonPrimaryDark {
  background-color: #004c40;
  border-color: #00332b;
  color: #ffffff; }
  .apcButtonPrimaryDark:hover {
    background-color: #001915;
    border-color: black;
    color: #ffffff; }

.apcButtonIconPrimaryDark {
  color: #ffffff; }

.apcButtonPrimaryDark:hover .apcButtonIconPrimaryDark {
  color: #ffffff; }

.apcButtonSecondary {
  background-color: #c51162;
  border-color: #ae0f56;
  color: #ffffff; }
  .apcButtonSecondary:hover {
    background-color: #960d4b;
    border-color: #7f0b3f;
    color: #ffffff; }

.apcButtonIconSecondary {
  color: #ffffff; }

.apcButtonSecondary:hover .apcButtonIconSecondary {
  color: #ffffff; }

.apcButtonSecondaryLight {
  background-color: #fd558f;
  border-color: #fd3c7e;
  color: #ffffff; }
  .apcButtonSecondaryLight:hover {
    background-color: #fc236e;
    border-color: #fc095d;
    color: #ffffff; }

.apcButtonIconSecondaryLight {
  color: #ffffff; }

.apcButtonSecondaryLight:hover .apcButtonIconSecondaryLight {
  color: #ffffff; }

.apcButtonSecondaryDark {
  background-color: #8e0038;
  border-color: #75002e;
  color: #ffffff; }
  .apcButtonSecondaryDark:hover {
    background-color: #5b0024;
    border-color: #42001a;
    color: #ffffff; }

.apcButtonIconSecondaryDark {
  color: #ffffff; }

.apcButtonSecondaryDark:hover .apcButtonIconSecondaryDark {
  color: #ffffff; }

.apcButtonDanger {
  background-color: #d50000;
  border-color: #bc0000;
  color: #ffffff; }
  .apcButtonDanger:hover {
    background-color: #a20000;
    border-color: #890000;
    color: #ffffff; }

.apcButtonIconDanger {
  color: #ffffff; }

.apcButtonDanger:hover .apcButtonIconDanger {
  color: #ffffff; }

.apcButtonSuccess {
  background-color: #2e7d32;
  border-color: #276a2b;
  color: #ffffff; }
  .apcButtonSuccess:hover {
    background-color: #205823;
    border-color: #19451c;
    color: #ffffff; }

.apcButtonIconSuccess {
  color: #ffffff; }

.apcButtonSuccess:hover .apcButtonIconSuccess {
  color: #ffffff; }

.apcButtonInfo {
  background-color: #00838f;
  border-color: #006c76;
  color: #ffffff; }
  .apcButtonInfo:hover {
    background-color: #00545c;
    border-color: #003d43;
    color: #ffffff; }

.apcButtonIconInfo {
  color: #ffffff; }

.apcButtonInfo:hover .apcButtonIconInfo {
  color: #ffffff; }

.apcButtonWarning {
  background-color: #f9a825;
  border-color: #f89e0c;
  color: #ffffff; }
  .apcButtonWarning:hover {
    background-color: #e59006;
    border-color: #cc8006;
    color: #ffffff; }

.apcButtonIconWarning {
  color: #ffffff; }

.apcButtonWarning:hover .apcButtonIconWarning {
  color: #ffffff; }

.apcButtonDefault {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333; }
  .apcButtonDefault:hover {
    background-color: #e6e6e6;
    border-color: #a6a6a6; }

.apcButtonIconDefault {
  color: #333333; }

.apcButtonTextColor {
  background-color: #000000;
  border-color: black;
  color: #ffffff; }
  .apcButtonTextColor:hover {
    background-color: black;
    border-color: black;
    color: #ffffff; }

.apcButtonIconTextColor {
  color: #ffffff; }

.apcButtonTextColor:hover .apcButtonIconTextColor {
  color: #ffffff; }

.apcButtonWhite {
  background-color: #ffffff;
  border-color: #f2f2f2;
  color: #000000; }
  .apcButtonWhite:hover {
    background-color: #e6e6e6;
    border-color: #d9d9d9;
    color: #000000; }

.apcButtonIconWhite {
  color: #000000; }

.apcButtonWhite:hover .apcButtonIconWhite {
  color: #000000; }

.apcButtonPrimaryHollow {
  background-color: #ffffff;
  border-color: #00796b;
  color: #00796b; }
  .apcButtonPrimaryHollow:hover {
    background-color: #00796b;
    color: #ffffff; }

.apcButtonIconPrimaryHollow {
  color: #00796b; }

.apcButtonPrimaryHollow:hover .apcButtonIconPrimaryHollow {
  color: #ffffff; }

.apcButtonPrimaryLightHollow {
  background-color: #ffffff;
  border-color: #48a999;
  color: #48a999; }
  .apcButtonPrimaryLightHollow:hover {
    background-color: #48a999;
    color: #ffffff; }

.apcButtonIconPrimaryLightHollow {
  color: #48a999; }

.apcButtonPrimaryLightHollow:hover .apcButtonIconPrimaryLightHollow {
  color: #ffffff; }

.apcButtonPrimaryDarkHollow {
  background-color: #ffffff;
  border-color: #004c40;
  color: #004c40; }
  .apcButtonPrimaryDarkHollow:hover {
    background-color: #004c40;
    color: #ffffff; }

.apcButtonIconPrimaryDarkHollow {
  color: #004c40; }

.apcButtonPrimaryDarkHollow:hover .apcButtonIconPrimaryDarkHollow {
  color: #ffffff; }

.apcButtonSecondaryHollow {
  background-color: #ffffff;
  border-color: #c51162;
  color: #c51162; }
  .apcButtonSecondaryHollow:hover {
    background-color: #c51162;
    color: #ffffff; }

.apcButtonIconSecondaryHollow {
  color: #c51162; }

.apcButtonSecondaryHollow:hover .apcButtonIconSecondaryHollow {
  color: #ffffff; }

.apcButtonSecondaryLightHollow {
  background-color: #ffffff;
  border-color: #fd558f;
  color: #fd558f; }
  .apcButtonSecondaryLightHollow:hover {
    background-color: #fd558f;
    color: #ffffff; }

.apcButtonIconSecondaryLightHollow {
  color: #fd558f; }

.apcButtonSecondaryLightHollow:hover .apcButtonIconSecondaryLightHollow {
  color: #ffffff; }

.apcButtonSecondaryDarkHollow {
  background-color: #ffffff;
  border-color: #8e0038;
  color: #8e0038; }
  .apcButtonSecondaryDarkHollow:hover {
    background-color: #8e0038;
    color: #ffffff; }

.apcButtonIconSecondaryDarkHollow {
  color: #8e0038; }

.apcButtonSecondaryDarkHollow:hover .apcButtonIconSecondaryDarkHollow {
  color: #ffffff; }

.apcButtonDangerHollow {
  background-color: #ffffff;
  border-color: #d50000;
  color: #d50000; }
  .apcButtonDangerHollow:hover {
    background-color: #d50000;
    color: #ffffff; }

.apcButtonIconDangerHollow {
  color: #d50000; }

.apcButtonDangerHollow:hover .apcButtonIconDangerHollow {
  color: #ffffff; }

.apcButtonSuccessHollow {
  background-color: #ffffff;
  border-color: #2e7d32;
  color: #2e7d32; }
  .apcButtonSuccessHollow:hover {
    background-color: #2e7d32;
    color: #ffffff; }

.apcButtonIconSuccessHollow {
  color: #2e7d32; }

.apcButtonSuccessHollow:hover .apcButtonIconSuccessHollow {
  color: #ffffff; }

.apcButtonInfoHollow {
  background-color: #ffffff;
  border-color: #00838f;
  color: #00838f; }
  .apcButtonInfoHollow:hover {
    background-color: #00838f;
    color: #ffffff; }

.apcButtonIconInfoHollow {
  color: #00838f; }

.apcButtonInfoHollow:hover .apcButtonIconInfoHollow {
  color: #ffffff; }

.apcButtonWarningHollow {
  background-color: #ffffff;
  border-color: #f9a825;
  color: #f9a825; }
  .apcButtonWarningHollow:hover {
    background-color: #f9a825;
    color: #ffffff; }

.apcButtonIconWarningHollow {
  color: #f9a825; }

.apcButtonWarningHollow:hover .apcButtonIconWarningHollow {
  color: #ffffff; }

.apcButtonDefaultHollow {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333; }
  .apcButtonDefaultHollow:hover {
    background-color: #e6e6e6;
    border-color: #a6a6a6; }

.apcButtonIconDefaultHollow {
  color: #333333; }

.apcButtonTextColorHollow {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000; }
  .apcButtonTextColorHollow:hover {
    background-color: #000000;
    color: #ffffff; }

.apcButtonIconTextColorHollow {
  color: #000000; }

.apcButtonTextColorHollow:hover .apcButtonIconTextColorHollow {
  color: #ffffff; }

.apcButtonWhiteHollow {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff; }
  .apcButtonWhiteHollow:hover {
    background-color: #ffffff;
    color: #000000; }

.apcButtonIconWhiteHollow {
  color: #ffffff; }

.apcButtonWhiteHollow:hover .apcButtonIconWhiteHollow {
  color: #000000; }
