/**COLUMN**/

/*Variables, fonts, mixins*/
@import "./import.scss";

/*Base element*/
$element: Column;

/*Styles par defaut*/
.apc#{$element}{
    box-sizing: border-box;
    display: flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex-basis: 100%;
}

/*Media queries*/
@each $breakName, $breakMap in $breakPoints {
    @media (min-width: map-get($breakMap, screen-size)){
        @for $i from 1 through $gridSize {
            $perunit: ( 100 - $gutterSize) / $gridSize;
            $width: percentage($perunit * $i/100);
            .apc#{$element}#{$breakName}#{$i} {
                flex-basis: $width;
            }
        }
    }
}