/**INPUT**/
.apcInputContainer {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 0 0;
  max-width: 100%;
  padding: 0 0 0 0;
  position: relative; }

.apcInput {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: text;
  display: inline-block;
  margin: 0 0 0 0;
  max-width: 100%;
  outline: none;
  width: 100%; }

.apcInputIcon {
  box-sizing: border-box;
  display: block;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  z-index: -1; }

.apcInputLabel {
  border: none;
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  margin: 0 0 0 0;
  position: absolute;
  top: 0px;
  z-index: -2; }

.apcInputContainerBlock {
  display: block;
  width: 100%; }

.apcInputBlock {
  display: block;
  width: 100%; }

.apcInputContainerDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcInputDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcInputIconDisabled {
  opacity: 0.85; }

.apcInputLabelDisabled {
  opacity: 0.85; }

.apcInputClearDisabled {
  opacity: 0.85; }

.apcInputContainerRounded {
  border-radius: 3px; }

.apcInputRounded {
  border-radius: 3px; }

.apcInputLabelRounded {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.apcInputContainerRoundedMax {
  border-radius: 20px; }

.apcInputRoundedMax {
  border-radius: 20px; }

.apcInputLabelRoundedMax {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.apcInputContainerXsmall {
  height: 22px; }

.apcInputXsmall {
  font-size: 12px;
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.apcInputXsmallPosition1 {
  padding-left: 22px; }

.apcInputXsmallPosition2 {
  padding-left: 71px; }

.apcInputXsmallPosition3 {
  padding-left: 93px; }

.apcInputIconXsmall {
  font-size: 12px;
  height: 20px;
  width: 22px;
  padding-top: 3.5px;
  padding-bottom: 3.5px; }

.apcInputIconXsmallPosition0 {
  display: none; }

.apcInputIconXsmallPosition2 {
  display: none; }

.apcInputLabelXsmall {
  font-size: 12px;
  height: 20px;
  padding-top: 3.6px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.apcInputLabelXsmallPosition0 {
  display: none; }

.apcInputLabelXsmallPosition1 {
  display: none; }

.apcInputLabelXsmallPosition2 {
  width: 66px; }

.apcInputLabelXsmallPosition3 {
  padding-left: 22px;
  width: 88px; }

.apcInputContainerSmall {
  height: 30px; }

.apcInputSmall {
  font-size: 12px;
  height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.apcInputSmallPosition1 {
  padding-left: 30px; }

.apcInputSmallPosition2 {
  padding-left: 100px; }

.apcInputSmallPosition3 {
  padding-left: 130px; }

.apcInputIconSmall {
  font-size: 12px;
  height: 28px;
  width: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px; }

.apcInputIconSmallPosition0 {
  display: none; }

.apcInputIconSmallPosition2 {
  display: none; }

.apcInputLabelSmall {
  font-size: 12px;
  height: 28px;
  padding-top: 7.6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.apcInputLabelSmallPosition0 {
  display: none; }

.apcInputLabelSmallPosition1 {
  display: none; }

.apcInputLabelSmallPosition2 {
  width: 90px; }

.apcInputLabelSmallPosition3 {
  padding-left: 30px;
  width: 120px; }

.apcInputContainerMedium {
  height: 34px; }

.apcInputMedium {
  font-size: 14px;
  height: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; }

.apcInputMediumPosition1 {
  padding-left: 34px; }

.apcInputMediumPosition2 {
  padding-left: 114px; }

.apcInputMediumPosition3 {
  padding-left: 148px; }

.apcInputIconMedium {
  font-size: 14px;
  height: 32px;
  width: 34px;
  padding-top: 8.5px;
  padding-bottom: 8.5px; }

.apcInputIconMediumPosition0 {
  display: none; }

.apcInputIconMediumPosition2 {
  display: none; }

.apcInputLabelMedium {
  font-size: 12px;
  height: 32px;
  padding-top: 8.6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; }

.apcInputLabelMediumPosition0 {
  display: none; }

.apcInputLabelMediumPosition1 {
  display: none; }

.apcInputLabelMediumPosition2 {
  width: 102px; }

.apcInputLabelMediumPosition3 {
  padding-left: 34px;
  width: 136px; }

.apcInputContainerLarge {
  height: 46px; }

.apcInputLarge {
  font-size: 18px;
  height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px; }

.apcInputLargePosition1 {
  padding-left: 46px; }

.apcInputLargePosition2 {
  padding-left: 154px; }

.apcInputLargePosition3 {
  padding-left: 200px; }

.apcInputIconLarge {
  font-size: 18px;
  height: 44px;
  width: 46px;
  padding-top: 12.5px;
  padding-bottom: 12.5px; }

.apcInputIconLargePosition0 {
  display: none; }

.apcInputIconLargePosition2 {
  display: none; }

.apcInputLabelLarge {
  font-size: 16px;
  height: 44px;
  padding-top: 12.6px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px; }

.apcInputLabelLargePosition0 {
  display: none; }

.apcInputLabelLargePosition1 {
  display: none; }

.apcInputLabelLargePosition2 {
  width: 138px; }

.apcInputLabelLargePosition3 {
  padding-left: 46px;
  width: 184px; }

.apcInputContainerXlarge {
  height: 56px; }

.apcInputXlarge {
  font-size: 22px;
  height: 54px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px; }

.apcInputXlargePosition1 {
  padding-left: 56px; }

.apcInputXlargePosition2 {
  padding-left: 186px; }

.apcInputXlargePosition3 {
  padding-left: 242px; }

.apcInputIconXlarge {
  font-size: 22px;
  height: 54px;
  width: 56px;
  padding-top: 14.5px;
  padding-bottom: 14.5px; }

.apcInputIconXlargePosition0 {
  display: none; }

.apcInputIconXlargePosition2 {
  display: none; }

.apcInputLabelXlarge {
  font-size: 20px;
  height: 54px;
  padding-top: 14.6px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px; }

.apcInputLabelXlargePosition0 {
  display: none; }

.apcInputLabelXlargePosition1 {
  display: none; }

.apcInputLabelXlargePosition2 {
  width: 168px; }

.apcInputLabelXlargePosition3 {
  padding-left: 56px;
  width: 224px; }

.apcInputContainerPrimary {
  background-color: #ffffff;
  border-color: #00796b; }

.apcInputPrimary {
  color: #00796b; }

.apcInputIconPrimary {
  color: #00796b; }

.apcInputLabelPrimary {
  background-color: #ffffff;
  color: #00796b;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerPrimaryLight {
  background-color: #ffffff;
  border-color: #48a999; }

.apcInputPrimaryLight {
  color: #48a999; }

.apcInputIconPrimaryLight {
  color: #48a999; }

.apcInputLabelPrimaryLight {
  background-color: #ffffff;
  color: #48a999;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerPrimaryDark {
  background-color: #ffffff;
  border-color: #004c40; }

.apcInputPrimaryDark {
  color: #004c40; }

.apcInputIconPrimaryDark {
  color: #004c40; }

.apcInputLabelPrimaryDark {
  background-color: #ffffff;
  color: #004c40;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerSecondary {
  background-color: #ffffff;
  border-color: #c51162; }

.apcInputSecondary {
  color: #c51162; }

.apcInputIconSecondary {
  color: #c51162; }

.apcInputLabelSecondary {
  background-color: #ffffff;
  color: #c51162;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerSecondaryLight {
  background-color: #ffffff;
  border-color: #fd558f; }

.apcInputSecondaryLight {
  color: #fd558f; }

.apcInputIconSecondaryLight {
  color: #fd558f; }

.apcInputLabelSecondaryLight {
  background-color: #ffffff;
  color: #fd558f;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerSecondaryDark {
  background-color: #ffffff;
  border-color: #8e0038; }

.apcInputSecondaryDark {
  color: #8e0038; }

.apcInputIconSecondaryDark {
  color: #8e0038; }

.apcInputLabelSecondaryDark {
  background-color: #ffffff;
  color: #8e0038;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerDanger {
  background-color: #ffffff;
  border-color: #d50000; }

.apcInputDanger {
  color: #d50000; }

.apcInputIconDanger {
  color: #d50000; }

.apcInputLabelDanger {
  background-color: #ffffff;
  color: #d50000;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerSuccess {
  background-color: #ffffff;
  border-color: #2e7d32; }

.apcInputSuccess {
  color: #2e7d32; }

.apcInputIconSuccess {
  color: #2e7d32; }

.apcInputLabelSuccess {
  background-color: #ffffff;
  color: #2e7d32;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerInfo {
  background-color: #ffffff;
  border-color: #00838f; }

.apcInputInfo {
  color: #00838f; }

.apcInputIconInfo {
  color: #00838f; }

.apcInputLabelInfo {
  background-color: #ffffff;
  color: #00838f;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerWarning {
  background-color: #ffffff;
  border-color: #f9a825; }

.apcInputWarning {
  color: #f9a825; }

.apcInputIconWarning {
  color: #f9a825; }

.apcInputLabelWarning {
  background-color: #ffffff;
  color: #f9a825;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerDefault {
  background-color: #ffffff;
  border-color: #cccccc; }

.apcInputDefault {
  color: #333333; }

.apcInputIconDefault {
  color: #333333; }

.apcInputLabelDefault {
  background-color: #ffffff;
  color: #000000;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerTextColor {
  background-color: #ffffff;
  border-color: #000000; }

.apcInputTextColor {
  color: #000000; }

.apcInputIconTextColor {
  color: #000000; }

.apcInputLabelTextColor {
  background-color: #ffffff;
  color: #000000;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputContainerWhite {
  background-color: #ffffff;
  border-color: #ffffff; }

.apcInputWhite {
  color: #ffffff; }

.apcInputIconWhite {
  color: #ffffff; }

.apcInputLabelWhite {
  background-color: #ffffff;
  color: #ffffff;
  border-right-color: #e0e0e0;
  border-right-style: solid;
  border-right-width: 1px; }

.apcInputIconForcedPrimary {
  color: #00796b; }

.apcInputLabelForcedPrimary {
  color: #00796b; }

.apcInputIconForcedPrimaryLight {
  color: #48a999; }

.apcInputLabelForcedPrimaryLight {
  color: #48a999; }

.apcInputIconForcedPrimaryDark {
  color: #004c40; }

.apcInputLabelForcedPrimaryDark {
  color: #004c40; }

.apcInputIconForcedSecondary {
  color: #c51162; }

.apcInputLabelForcedSecondary {
  color: #c51162; }

.apcInputIconForcedSecondaryLight {
  color: #fd558f; }

.apcInputLabelForcedSecondaryLight {
  color: #fd558f; }

.apcInputIconForcedSecondaryDark {
  color: #8e0038; }

.apcInputLabelForcedSecondaryDark {
  color: #8e0038; }

.apcInputIconForcedDanger {
  color: #d50000; }

.apcInputLabelForcedDanger {
  color: #d50000; }

.apcInputIconForcedSuccess {
  color: #2e7d32; }

.apcInputLabelForcedSuccess {
  color: #2e7d32; }

.apcInputIconForcedInfo {
  color: #00838f; }

.apcInputLabelForcedInfo {
  color: #00838f; }

.apcInputIconForcedWarning {
  color: #f9a825; }

.apcInputLabelForcedWarning {
  color: #f9a825; }

.apcInputIconForcedDefault {
  color: #333333; }

.apcInputLabelForcedDefault {
  color: #333333; }

.apcInputIconForcedTextColor {
  color: #000000; }

.apcInputLabelForcedTextColor {
  color: #000000; }

.apcInputIconForcedWhite {
  color: #ffffff; }

.apcInputLabelForcedWhite {
  color: #ffffff; }

.apcInputContainerError {
  border-color: #d50000;
  border-style: solid;
  border-width: 1px; }

.apcInputIconError {
  color: #d50000; }

.apcInputError {
  color: #d50000; }

.apcInputLabelError {
  color: #d50000; }

.apcInputErrorBox {
  color: #d50000;
  display: block;
  font-size: 13px;
  margin: 2px 0 0 0;
  position: absolute;
  right: 0px;
  top: 100%; }
