/**RADIOGROUP**/
.apcRadioGroup {
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative; }

.apcRadioGroupIcon {
  box-sizing: border-box;
  display: block;
  left: 0px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  text-align: center;
  top: 0px;
  z-index: -1; }

.apcRadioGroupLabel {
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  left: 0px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0px;
  z-index: -2; }

.apcRadioGroupBlock {
  display: block;
  width: 100%; }

.apcRadioGroupDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcRadioGroupRounded {
  border-radius: 3px; }

.apcRadioGroupRoundedMax {
  border-radius: 20px; }

.apcRadioGroupXsmall {
  min-height: 22px;
  padding-top: 22px; }

.apcRadioGroupIconXsmall {
  font-size: 12px;
  height: 22px;
  width: 22px;
  padding-top: 3.5px;
  padding-bottom: 3.5px; }

.apcRadioGroupLabelXsmall {
  font-size: 12px;
  height: 22px;
  padding-top: 3.6px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.apcRadioGroupLabelXsmallPosition0 {
  display: none; }

.apcRadioGroupLabelXsmallPosition1 {
  display: none; }

.apcRadioGroupLabelXsmallPosition3 {
  padding-left: 22px; }

.apcRadioGroupSmall {
  min-height: 30px;
  padding-top: 30px; }

.apcRadioGroupIconSmall {
  font-size: 12px;
  height: 30px;
  width: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px; }

.apcRadioGroupLabelSmall {
  font-size: 12px;
  height: 30px;
  padding-top: 7.6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.apcRadioGroupLabelSmallPosition0 {
  display: none; }

.apcRadioGroupLabelSmallPosition1 {
  display: none; }

.apcRadioGroupLabelSmallPosition3 {
  padding-left: 30px; }

.apcRadioGroupMedium {
  min-height: 34px;
  padding-top: 34px; }

.apcRadioGroupIconMedium {
  font-size: 14px;
  height: 34px;
  width: 34px;
  padding-top: 8.5px;
  padding-bottom: 8.5px; }

.apcRadioGroupLabelMedium {
  font-size: 12px;
  height: 34px;
  padding-top: 8.6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; }

.apcRadioGroupLabelMediumPosition0 {
  display: none; }

.apcRadioGroupLabelMediumPosition1 {
  display: none; }

.apcRadioGroupLabelMediumPosition3 {
  padding-left: 34px; }

.apcRadioGroupLarge {
  min-height: 46px;
  padding-top: 46px; }

.apcRadioGroupIconLarge {
  font-size: 18px;
  height: 46px;
  width: 46px;
  padding-top: 12.5px;
  padding-bottom: 12.5px; }

.apcRadioGroupLabelLarge {
  font-size: 16px;
  height: 46px;
  padding-top: 12.6px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px; }

.apcRadioGroupLabelLargePosition0 {
  display: none; }

.apcRadioGroupLabelLargePosition1 {
  display: none; }

.apcRadioGroupLabelLargePosition3 {
  padding-left: 46px; }

.apcRadioGroupXlarge {
  min-height: 56px;
  padding-top: 56px; }

.apcRadioGroupIconXlarge {
  font-size: 22px;
  height: 56px;
  width: 56px;
  padding-top: 14.5px;
  padding-bottom: 14.5px; }

.apcRadioGroupLabelXlarge {
  font-size: 20px;
  height: 56px;
  padding-top: 14.6px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px; }

.apcRadioGroupLabelXlargePosition0 {
  display: none; }

.apcRadioGroupLabelXlargePosition1 {
  display: none; }

.apcRadioGroupLabelXlargePosition3 {
  padding-left: 56px; }

.apcRadioGroupPrimary {
  background-color: #ffffff;
  border-color: #00796b; }

.apcRadioGroupIconPrimary {
  color: #00796b; }

.apcRadioGroupLabelPrimary {
  background-color: #ffffff;
  color: #00796b; }

.apcRadioGroupPrimaryLight {
  background-color: #ffffff;
  border-color: #48a999; }

.apcRadioGroupIconPrimaryLight {
  color: #48a999; }

.apcRadioGroupLabelPrimaryLight {
  background-color: #ffffff;
  color: #48a999; }

.apcRadioGroupPrimaryDark {
  background-color: #ffffff;
  border-color: #004c40; }

.apcRadioGroupIconPrimaryDark {
  color: #004c40; }

.apcRadioGroupLabelPrimaryDark {
  background-color: #ffffff;
  color: #004c40; }

.apcRadioGroupSecondary {
  background-color: #ffffff;
  border-color: #c51162; }

.apcRadioGroupIconSecondary {
  color: #c51162; }

.apcRadioGroupLabelSecondary {
  background-color: #ffffff;
  color: #c51162; }

.apcRadioGroupSecondaryLight {
  background-color: #ffffff;
  border-color: #fd558f; }

.apcRadioGroupIconSecondaryLight {
  color: #fd558f; }

.apcRadioGroupLabelSecondaryLight {
  background-color: #ffffff;
  color: #fd558f; }

.apcRadioGroupSecondaryDark {
  background-color: #ffffff;
  border-color: #8e0038; }

.apcRadioGroupIconSecondaryDark {
  color: #8e0038; }

.apcRadioGroupLabelSecondaryDark {
  background-color: #ffffff;
  color: #8e0038; }

.apcRadioGroupDanger {
  background-color: #ffffff;
  border-color: #d50000; }

.apcRadioGroupIconDanger {
  color: #d50000; }

.apcRadioGroupLabelDanger {
  background-color: #ffffff;
  color: #d50000; }

.apcRadioGroupSuccess {
  background-color: #ffffff;
  border-color: #2e7d32; }

.apcRadioGroupIconSuccess {
  color: #2e7d32; }

.apcRadioGroupLabelSuccess {
  background-color: #ffffff;
  color: #2e7d32; }

.apcRadioGroupInfo {
  background-color: #ffffff;
  border-color: #00838f; }

.apcRadioGroupIconInfo {
  color: #00838f; }

.apcRadioGroupLabelInfo {
  background-color: #ffffff;
  color: #00838f; }

.apcRadioGroupWarning {
  background-color: #ffffff;
  border-color: #f9a825; }

.apcRadioGroupIconWarning {
  color: #f9a825; }

.apcRadioGroupLabelWarning {
  background-color: #ffffff;
  color: #f9a825; }

.apcRadioGroupDefault {
  background-color: #ffffff;
  border-color: #cccccc; }

.apcRadioGroupIconDefault {
  color: #333333; }

.apcRadioGroupLabelDefault {
  background-color: #ffffff;
  color: #000000; }

.apcRadioGroupTextColor {
  background-color: #ffffff;
  border-color: #000000; }

.apcRadioGroupIconTextColor {
  color: #000000; }

.apcRadioGroupLabelTextColor {
  background-color: #ffffff;
  color: #000000; }

.apcRadioGroupWhite {
  background-color: #ffffff;
  border-color: #ffffff; }

.apcRadioGroupIconWhite {
  color: #ffffff; }

.apcRadioGroupLabelWhite {
  background-color: #ffffff;
  color: #ffffff; }

.apcRadioGroupIconForcedPrimary {
  color: #00796b; }

.apcRadioGroupLabelForcedPrimary {
  color: #00796b; }

.apcRadioGroupIconForcedPrimaryLight {
  color: #48a999; }

.apcRadioGroupLabelForcedPrimaryLight {
  color: #48a999; }

.apcRadioGroupIconForcedPrimaryDark {
  color: #004c40; }

.apcRadioGroupLabelForcedPrimaryDark {
  color: #004c40; }

.apcRadioGroupIconForcedSecondary {
  color: #c51162; }

.apcRadioGroupLabelForcedSecondary {
  color: #c51162; }

.apcRadioGroupIconForcedSecondaryLight {
  color: #fd558f; }

.apcRadioGroupLabelForcedSecondaryLight {
  color: #fd558f; }

.apcRadioGroupIconForcedSecondaryDark {
  color: #8e0038; }

.apcRadioGroupLabelForcedSecondaryDark {
  color: #8e0038; }

.apcRadioGroupIconForcedDanger {
  color: #d50000; }

.apcRadioGroupLabelForcedDanger {
  color: #d50000; }

.apcRadioGroupIconForcedSuccess {
  color: #2e7d32; }

.apcRadioGroupLabelForcedSuccess {
  color: #2e7d32; }

.apcRadioGroupIconForcedInfo {
  color: #00838f; }

.apcRadioGroupLabelForcedInfo {
  color: #00838f; }

.apcRadioGroupIconForcedWarning {
  color: #f9a825; }

.apcRadioGroupLabelForcedWarning {
  color: #f9a825; }

.apcRadioGroupIconForcedDefault {
  color: #333333; }

.apcRadioGroupLabelForcedDefault {
  color: #333333; }

.apcRadioGroupIconForcedTextColor {
  color: #000000; }

.apcRadioGroupLabelForcedTextColor {
  color: #000000; }

.apcRadioGroupIconForcedWhite {
  color: #ffffff; }

.apcRadioGroupLabelForcedWhite {
  color: #ffffff; }

.apcRadioGroupError {
  border-color: #d50000; }

.apcRadioGroupIconError {
  color: #d50000; }

.apcRadioGroupLabelError {
  color: #d50000; }

.apcRadioGroupErrorBox {
  color: #d50000;
  display: block;
  font-size: 13px;
  margin: 2px 0 0 0;
  position: absolute;
  right: 0px;
  top: 100%; }
