/**RADIO**/
.apcRadioContainer {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.apcRadio {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 3px;
  position: relative; }

.apcRadioDot {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative; }

.apcRadioLabel {
  box-sizing: border-box;
  color: #333333;
  display: block;
  float: left;
  position: relative; }

.apcRadioContainerBlock {
  display: block;
  width: 100%; }

.apcRadioContainerDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcRadioDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcRadioDotDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcRadioLabelDisabled {
  cursor: not-allowed;
  opacity: 0.85; }

.apcRadioContainerXsmall {
  background: #ff0000;
  height: 22px !important; }

.apcRadioXsmall {
  height: 11px;
  width: 11px;
  border-radius: 11px; }

.apcRadioDotXsmall {
  height: 14px;
  width: 14px;
  border-radius: 7px; }

.apcRadioLabelXsmall {
  height: 22px;
  font-size: 12px;
  padding-top: 3.6px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.apcRadioContainerSmall {
  background: #ff0000;
  height: 30px !important; }

.apcRadioSmall {
  height: 15px;
  width: 15px;
  border-radius: 15px; }

.apcRadioDotSmall {
  height: 22px;
  width: 22px;
  border-radius: 11px; }

.apcRadioLabelSmall {
  height: 30px;
  font-size: 12px;
  padding-top: 7.6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.apcRadioContainerMedium {
  background: #ff0000;
  height: 34px !important; }

.apcRadioMedium {
  height: 17px;
  width: 17px;
  border-radius: 17px; }

.apcRadioDotMedium {
  height: 26px;
  width: 26px;
  border-radius: 13px; }

.apcRadioLabelMedium {
  height: 34px;
  font-size: 14px;
  padding-top: 8.6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; }

.apcRadioContainerLarge {
  background: #ff0000;
  height: 46px !important; }

.apcRadioLarge {
  height: 23px;
  width: 23px;
  border-radius: 23px; }

.apcRadioDotLarge {
  height: 38px;
  width: 38px;
  border-radius: 19px; }

.apcRadioLabelLarge {
  height: 46px;
  font-size: 18px;
  padding-top: 12.6px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px; }

.apcRadioContainerXlarge {
  background: #ff0000;
  height: 56px !important; }

.apcRadioXlarge {
  height: 28px;
  width: 28px;
  border-radius: 28px; }

.apcRadioDotXlarge {
  height: 48px;
  width: 48px;
  border-radius: 24px; }

.apcRadioLabelXlarge {
  height: 56px;
  font-size: 22px;
  padding-top: 14.6px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px; }

.apcRadioPrimary {
  border-color: #00796b; }

.apcRadioDotPrimary {
  background-color: #00796b; }

.apcRadioPrimaryLight {
  border-color: #48a999; }

.apcRadioDotPrimaryLight {
  background-color: #48a999; }

.apcRadioPrimaryDark {
  border-color: #004c40; }

.apcRadioDotPrimaryDark {
  background-color: #004c40; }

.apcRadioSecondary {
  border-color: #c51162; }

.apcRadioDotSecondary {
  background-color: #c51162; }

.apcRadioSecondaryLight {
  border-color: #fd558f; }

.apcRadioDotSecondaryLight {
  background-color: #fd558f; }

.apcRadioSecondaryDark {
  border-color: #8e0038; }

.apcRadioDotSecondaryDark {
  background-color: #8e0038; }

.apcRadioDanger {
  border-color: #d50000; }

.apcRadioDotDanger {
  background-color: #d50000; }

.apcRadioSuccess {
  border-color: #2e7d32; }

.apcRadioDotSuccess {
  background-color: #2e7d32; }

.apcRadioInfo {
  border-color: #00838f; }

.apcRadioDotInfo {
  background-color: #00838f; }

.apcRadioWarning {
  border-color: #f9a825; }

.apcRadioDotWarning {
  background-color: #f9a825; }

.apcRadioDefault {
  border-color: #999999; }

.apcRadioDotDefault {
  background-color: transparent; }

.apcRadioTextColor {
  border-color: #000000; }

.apcRadioDotTextColor {
  background-color: #000000; }

.apcRadioWhite {
  border-color: #ffffff; }

.apcRadioDotWhite {
  background-color: #ffffff; }
