/**RADIO**/

//Variables, fonts, mixins
@import "./import.scss";

//Base element
$element: Radio;
$base: #{".apc"}#{$element};

//Default Styles
    /*Container*/ #{$base}Container{
        @include defaultcss;
        @include nouserinput;
        cursor: pointer;
        display: flex;
    }

    /*Element*/ #{$base}{
        @include defaultcss;
        @include centercontent;
        @include border;
        @include nouserinput;
        border-radius: 50%;
        display: flex;        
    }

    /*Dot*/ #{$base}Dot{
        @include defaultcss;
        @include centercontent;
        @include nouserinput;
        border-radius: 50%;
        margin: auto;
    }

    /*Label*/ #{$base}Label{
        @include defaultcss;
        @include centercontent;
        @include nouserinput;
    }

//Noborder
    /*Element*/ #{$base}NoBorder{
        @include noborder;
    }

//NoUserInput
    /*Element*/ #{$base}NoUserInput{
        @include nouserinput;
    }

//Disabled
    /*Element*/ #{$base}Disabled{
        @include disabled;
    }

//Sizes
@each $sizeName, $sizeMap in $sizes {
    //Variables
    $height: map-get($sizeMap, height);
    $heightnoborder: $height - 2 * $champBorderWidth;
    $width: map-get($sizeMap, width);
    $widthnoborder: $width - 2 * $champBorderWidth;
    $font-size: map-get($sizeMap, font-size);
    $padding-left: map-get($sizeMap, padding-left);
    $padding-right: map-get($sizeMap, padding-right);
    $padding-bottom: map-get($sizeMap, padding-bottom);
    $padding-top: map-get($sizeMap, padding-top);

    /*Container*/ #{$base}Container#{$sizeName}{
        height: $font-size;
        padding-left: $padding-left;
        padding-right: $padding-right;
        padding-top: $padding-top;
        margin-bottom: $padding-bottom;
    }

    /*Element*/ #{$base}#{$sizeName}{
        height: $font-size;
        @include fixedwidth($font-size);
    }

    /*Dot*/ #{$base}Dot#{$sizeName}{
        height: $font-size - 6;
        @include fixedwidth($font-size - 6);
    }

    /*Label*/ #{$base}Label#{$sizeName}{
        height: $font-size;
        padding-left: $padding-left;
    }
}

//Colors
@each $colorName, $color in $colors{
    /*Dot*/ #{$base}Dot#{$colorName}{
        background-color: $color;
    }
}