/**ROW**/

//Variables, fonts, mixins
@import "./import.scss";

//Base element
$element: Row;

//Styles par defaut
.apc#{$element}{    
    box-sizing: border-box;
    display: block;
    margin: 0 0 0 0;
    padding: 0 $gutterSize 0 $gutterSize;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//Nested row
.apc#{$element} .apc#{$element}{
    margin-right: -2 * $gutterSize;
    margin-left: -2 * $gutterSize;
}