.apcSlider{
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.apcSliderControls{
    align-items: center;
    bottom: 0px;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 9999;
}